/**
Sample css code
*/
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  height: 100%;
}

/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Style for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B5563;
    color: white;
    padding: 20px 10px;
}

.logo-container {
    padding: 5px 0;
}

.logo {
    height: auto;
    max-width: 250px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold; 
}

    .navbar-links a:hover {
        text-decoration: underline;
    }

/* Style for the footer */
footer {
    background-color: #0B5563;
    color: white;
    text-align: left;
    padding: 20px 10px;
    width: 100%;
}

.divider {
    border: 0;
    height: 2px; 
    background-color: #CCCCCC; 
    margin-top: 10px;
    margin-bottom: 20px;
}


/* Style for the hero section */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px
}

.text-content h1 {
    font-size: 3rem; 
    color: #333;
    margin-bottom: 20px;
}

.text-content .highlight {
    color: #007bff;
}

.cta-button {
    background-color: #0B5563;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

    .cta-button:hover {
        background-color: #0056b3;
    }

.image-content img {
    max-width: 100%;
    height: auto;
}

/* Responsive adjustments */
@media (max-width: 150px) {
    .main-content {
        flex-direction: column;
        text-align: center;
    }

    .image-content {
        margin-top: 20px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    padding-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px; 
    border-bottom: 2px solid #CCCCCC;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

.add-location-button {
    background-color: #0B5563;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.add-location-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .add-location-button {
        margin-top: 10px;
    }
}



/* CSS HEX */
--vivid-sky-blue: #56cbf9ff;
--midnight-green: #0b5563ff;
--davys-gray: #5e5c6cff;
--cerise: #f0386bff;
--bright-pink-crayola: #ff5376ff;
/* CSS HSL */
--vivid-sky-blue: hsla(197, 93%, 66%, 1);
--midnight-green: hsla(190, 80%, 22%, 1);
--davys-gray: hsla(248, 8%, 39%, 1);
--cerise: hsla(343, 86%, 58%, 1);
--bright-pink-crayola: hsla(348, 100%, 66%, 1);
/* SCSS HEX */
$vivid-sky-blue: #56cbf9ff;
$midnight-green: #0b5563ff;
$davys-gray: #5e5c6cff;
$cerise: #f0386bff;
$bright-pink-crayola: #ff5376ff;
/* SCSS HSL */
$vivid-sky-blue: hsla(197, 93%, 66%, 1);
$midnight-green: hsla(190, 80%, 22%, 1);
$davys-gray: hsla(248, 8%, 39%, 1);
$cerise: hsla(343, 86%, 58%, 1);
$bright-pink-crayola: hsla(348, 100%, 66%, 1);
/* SCSS RGB */
$vivid-sky-blue: rgba(86, 203, 249, 1);
$midnight-green: rgba(11, 85, 99, 1);
$davys-gray: rgba(94, 92, 108, 1);
$cerise: rgba(240, 56, 107, 1);
$bright-pink-crayola: rgba(255, 83, 118, 1);
/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-right: linear-gradient(90deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-bottom: linear-gradient(180deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-left: linear-gradient(270deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-top-right: linear-gradient(45deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-bottom-right: linear-gradient(135deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-top-left: linear-gradient(225deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-bottom-left: linear-gradient(315deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-radial: radial-gradient(#56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);


