/**
Sample css code
*/
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  height: 100%;
}

/*Set background image*/
.container {
  background-image: url('https://doc-10-ao-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/r085o9ungppbiokopob2sfbekae4uqbb/1537920000000/14802840322886517493/*/110cT8sl-pOiHGgj9yToPkAqAzrr-RNfb');
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Position text in the middle */
.middle {
  position: absolute;
  color: beige;
  top: 70%;
  left: 39%;
  text-align: center;
  font-size: 25px;
}

/*Set circle in unordered list*/
.middle ul {
  list-style-type: circle;
}

/*Set text inside li tag to left*/
.middle ul li {
  text-align: left !important;
}

/*Set text color for a tag inside middle class and ul>li element*/
.middle ul li a {
  color: beige;
}

/*Change text color and decoration for a tags inside middle class and ul>li element*/
.middle ul li a:hover {
  color: red;
  text-decoration: none;
}


/* CSS HEX */
--vivid-sky-blue: #56cbf9ff;
--midnight-green: #0b5563ff;
--davys-gray: #5e5c6cff;
--cerise: #f0386bff;
--bright-pink-crayola: #ff5376ff;
/* CSS HSL */
--vivid-sky-blue: hsla(197, 93%, 66%, 1);
--midnight-green: hsla(190, 80%, 22%, 1);
--davys-gray: hsla(248, 8%, 39%, 1);
--cerise: hsla(343, 86%, 58%, 1);
--bright-pink-crayola: hsla(348, 100%, 66%, 1);
/* SCSS HEX */
$vivid-sky-blue: #56cbf9ff;
$midnight-green: #0b5563ff;
$davys-gray: #5e5c6cff;
$cerise: #f0386bff;
$bright-pink-crayola: #ff5376ff;
/* SCSS HSL */
$vivid-sky-blue: hsla(197, 93%, 66%, 1);
$midnight-green: hsla(190, 80%, 22%, 1);
$davys-gray: hsla(248, 8%, 39%, 1);
$cerise: hsla(343, 86%, 58%, 1);
$bright-pink-crayola: hsla(348, 100%, 66%, 1);
/* SCSS RGB */
$vivid-sky-blue: rgba(86, 203, 249, 1);
$midnight-green: rgba(11, 85, 99, 1);
$davys-gray: rgba(94, 92, 108, 1);
$cerise: rgba(240, 56, 107, 1);
$bright-pink-crayola: rgba(255, 83, 118, 1);
/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-right: linear-gradient(90deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-bottom: linear-gradient(180deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-left: linear-gradient(270deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-top-right: linear-gradient(45deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-bottom-right: linear-gradient(135deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-top-left: linear-gradient(225deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-bottom-left: linear-gradient(315deg, #56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
$gradient-radial: radial-gradient(#56cbf9ff, #0b5563ff, #5e5c6cff, #f0386bff, #ff5376ff);
